<h1>Contact</h1>
<div class="card glass-card">
  <p>Email: <a href="mailto:alam24ir@student.ju.se">Amrou's Mail</a></p>
  <p>Email: <a href="mailto:daab24dd@student.ju.se">Hamid's Mail</a></p>
  <p>Amrou's GitHub: <a href="https://github.com/Aftermath9" target="_blank" rel="noreferrer">Aftermath9</a></p>
  <p>Amrou's Website: <a href="https://iamr.dev" target="_blank" rel="noreferrer">iamr.dev</a></p>
</div>